/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

IMG {
  border: 0;
}

HR {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0;
}

A:link, A:visited {
  color: #0066FF;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  outline: 0;
}

A:hover, A:active {
  color: #FF3300;
  text-decoration: none;
}

A.arrow:after {
  font-family: "Louies2017";
  content: "\e923";
  font-size: 90%;
  font-weight: bold;
  padding-left: 0.5em;
  position: relative;
  top: 1px;
}

H1 {
  font-size: 170%;
  margin: 0 0 0.5em;
}

H2 {
  font-size: 150%;
  margin: 0 0 0.5em;
}

SUP { font-size: 50%; }

INPUT[type="text"],
INPUT[type="email"],
INPUT[type="tel"],
TEXTAREA {
  outline: 0;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  padding: 0.4em 1em;
  background: #0066FF;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 0.2em;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: auto; /* Good ol' IE */
  min-height: 46px;
}

TEXTAREA {
  padding: 0.9em 1em;
  height: 7em;
}

INPUT::-webkit-input-placeholder { color: #FFFFFF; opacity: 1; }
INPUT:-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 4-18 */
INPUT::-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 19+ */
INPUT:-ms-input-placeholder { color: #FFFFFF; opacity: 1; } /* IE 10+ */
TEXTAREA::-webkit-input-placeholder { color: #FFFFFF; opacity: 1; }
TEXTAREA:-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 4-18 */
TEXTAREA::-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 19+ */
TEXTAREA:-ms-input-placeholder { color: #FFFFFF; opacity: 1; } /* IE 10+ */

INPUT:focus::-webkit-input-placeholder { color: transparent; }
INPUT:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
INPUT:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
INPUT:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */
TEXTAREA:focus::-webkit-input-placeholder { color: transparent; }
TEXTAREA:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
TEXTAREA:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
TEXTAREA:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

INPUT[type="checkbox"] {
  display: none;
}

INPUT[type="checkbox"] + LABEL {
  display: inline-block;
  margin-right: 1.5em;
  color: #FFFFFF;
}

INPUT[type="checkbox"] + LABEL:before {
  position: relative;
  left: -1px;
  top: 2px;
  margin-right: 5px;
  font-family: 'Louies2017';
  content: "\e927";
  color: #0066FF;
}

INPUT[type="checkbox"]:checked + LABEL:before {
  content: "\e928";
  left: 0;
}

INPUT[type="submit"] {
  outline: none;
  border: 5px solid #0066FF;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.8em 1.1em 0.6em 1.4em;
  background: transparent;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 0.3em;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
}

INPUT[type="submit"]:hover {
  color: #BBD66C;
  border-color: #BBD66C;
}

/* BEGIN modal css */
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.blocker {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1000000;
  background: rgba(0,0,0,0.15);
}

.modal {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal A.close-modal {
  position: absolute;
  top: -2.5em;
  right: 1.8em;
  display: block;
  color: #FFFFFF !important;
  text-decoration: none !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.modal A.close-modal:after {
  content: "\00d7";
  color: #FFFFFF;
  font-weight: 300;
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: -0.9em;
  transform: translateY(-55%)
}
/* END modal css */

A.swipebox-video:after {
  font-family: "Louies2017";
  content: "\e921";
  display: inline-block;
  position: relative;
  top: 1px;
  margin-left: 0.5em;
}

A.button:link,
A.button:visited {
  display: inline-block;
  border-radius: 5px;
  padding: 1.05em 1.1em 1em 1.3em;
  background: #0066FF;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.2em;
}

A.button:after {
  font-family: "Louies2017";
  content: "\e923";
  font-size: 80%;
  color: #000038;
  margin-left: 0.5em;
  font-weight: bold;
}

A.button:hover,
A.button:active {
  background: #FFFFFF;
  color: #000038;
}

A.button.hollow:link,
A.button.hollow:visited {
  background: transparent;
  border: 5px solid #0066FF;
  padding: 0.8em 1em 0.7em 1.2em;
  color: #000038;
}

A.button.hollow:after { color: #0066FF; }

A.button.hollow:hover,
A.button.hollow:active,
A.button.hollow:hover:after {
  color: #9D1C30;
  border-color: #9D1C30;;
}

.slick-dots {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  bottom: 30px;
  width: 100%;
  font-size: 8px;
  line-height: 1em;
  text-align: center;
}

.slick-dots LI {
  display: inline-block;
}

.slick-dots LI BUTTON {
  margin: 0 3px;
  padding: 0;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background: #FFFFFF;
  cursor: pointer;
}

.slick-dots LI BUTTON:focus {
  outline: none;
}

.slick-dots LI.slick-active BUTTON {
  background: #0066FF;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
 
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.site-width {
  width: 1200px;
  margin: 0 auto;
}

.site-width-small {
  width: 1055px;
  margin: 0 auto;
}

.site-width:after,
.site-width-small:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.sticky-spacer.sticky { height: 90px; }

.llr-header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,56,0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,56,0.1);
  box-shadow: 0px 0px 20px 0px rgba(0,0,56,0.1);
}

.llr-header .site-width-small {
  height: 105px;
  position: relative;
}

.llr-header.sticky .site-width-small { height: 90px; }

.llr-header.home .site-width-small {
  width: 1200px;
}

#logo,
.llr-header.home.sticky #logo {
  max-height: 70px;
  width: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
}

.llr-header.home #logo {
  max-height: 122px;
  top: 9px;
  transform: none;
}

.llr-header .menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.llr-header.home .menu {
  right: 7%;
}

#show-menu, #menu-toggle {
  display: none;
}

.menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu UL LI {
  display: inline-block;
  padding-left: 4em;
}

.menu UL LI:first-of-type { padding-left: 0; }

.menu UL LI A:link, .menu UL LI A:visited {
  color: #000038;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-bottom: 9px;
  position: relative;
}

.menu UL LI A:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: calc(100% - 0.1em);
  border-radius: 2px;
}

.menu UL LI A.current:after,
.menu UL LI:hover A:after {
  background: #0066FF;
}

.llr-footer {
  position: relative;
  overflow: hidden;
}

.llr-footer:before {
  content: "ITSFORTHEKIDS";
  position: absolute;
  top: -0.12em;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  color: #F6F6F6;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 130px;
  line-height: 1em;
  letter-spacing: 0.09em;
}

.footer-text {
  margin: 0 auto;
  padding: 65px 0;
  width: 670px;
  text-align: center;
  color: #0066FF;
  font-weight: 600;
  font-size: 16px;
  line-height: 2em;
}

#llr-icon {
  width: 108px;
  height: auto;
}

.footer-hashtags {
  color: #000038;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.footer-hashtags .spacer {
  display: inline-block;
  width: 2em;
}

.llr-footer .site-width-small {
  padding: 35px 0;
  position: relative;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu LI {
  display: inline-block;
  padding-left: 3em;
}

.footer-menu LI:first-of-type { padding-left: 0; }

.footer-menu LI A:link,
.footer-menu LI A:visited {
  color: #707070;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.footer-menu LI A:hover,
.footer-menu LI A:active {
  color: #0066FF;
}

.llr-footer .social {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  line-height: 0.7em;
}

.llr-footer .social A:link,
.llr-footer .social A:visited {
  display: inline-block;
  margin-left: 0.5em;
  border-radius: 50%;
  background: #0066FF;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1em;
  height: 1.6em;
  width: 1.6em;
  position: relative;
}

.llr-footer .social A:first-of-type { margin-left: 0; }

.llr-footer .social A:hover,
.llr-footer .social A:active {
  background: #000038;
}

.llr-footer .social A .fg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#newsletter,
#sponsor {
  display: none;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 65px 90px;
  background: #04043B;
  color: #005CE5;
}

#newsletter H2,
#sponsor H2 {
  margin: 0 0 0.3em;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

#contact-form-messages,
#newsletter #newsletter-form-messages,
#sponsor #sponsor-form-messages {
  margin: 0.9em 0;
  min-height: 1em;
  line-height: 1em;
  color: #9D1C30;
}

#newsletter #newsletter-email { width: calc(100% - 160px); }
#newsletter INPUT[type="submit"] { float: right; }

#newsletter .close-wrap {
  padding-top: 2em;
  text-align: center;
}

#newsletter A:link,
#newsletter A:visited {
  color: #005CE5;
  font-size: 14px;
  line-height: 1em;
}

#newsletter A:hover,
#newsletter A:active {
  color: #FFFFFF;
}

.video-banner {
  position: relative;
  width: 100%;
  padding-top: 50.5%;
  overflow: hidden;
  z-index: 1;
  background: #203C74;
}

.video-banner VIDEO {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-position: center center;
  background-size: cover;
  mix-blend-mode: multiply;
  top: 0\9; /* IE9 and below */
  left: 0\9; /* IE9 and below */
  opacity: 0.1\9; /* IE9 and below */
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /* IE10+ */
  .video-banner VIDEO { opacity: 0.1; }
}
@supports (-ms-accelerator:true) { .video-banner VIDEO { opacity: 0.1; } } /* Edge 12+ */ 

.video-banner .site-width {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 1em;
  letter-spacing: 0.3em;
}

.video-banner .site-width SUP {
  font-size: 50%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.video-banner .site-width H1 {
  margin: 0.3em 0 0;
  font-weight: 900;
  font-size: 100px;
  line-height: 1.15em;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.video-banner .site-width .fg-waves {
  margin: 1em 0 1.5em;
  display: block;
  font-size: 46px;
}

.video-header-buttons .swipebox-video { margin-right: 4em; }

.video-header-buttons A:link,
.video-header-buttons A:visited {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.3em;
  position: relative;
}

.video-header-buttons A:hover,
.video-header-buttons A:active {
  color: #0066FF;
}

.hat {
  padding: 1em;
  background: #0066FF;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 125%;
  line-height: 1em;
}

.hat A:link, .hat A:visited { color: #FFFFFF; }
.hat A:hover, .hat A:active { color: #9D1C30; }

.home-dates {
  padding: 0.5em 0;
  background: #9D1C30;
  color: #370000;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}

.home-dates .site-width { margin: 4.2em auto; }

.home-dates .one-fourth {
  display: inline-block;
  max-width: 26.5%;
  margin-right: 5.1%;
  vertical-align: top;
}

.home-dates .one-fourth:first-of-type { width: 20%; margin-right: 3%; }
.home-dates .one-fourth:last-of-type { margin-right: 0; }

.home-dates-number {
  font-size: 11px;
  line-height: 1em;
  min-height: 1em;
  margin-bottom: 0.4em;
}

.home-dates-date {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.home-dates-date SPAN { display: inline-block; width: 0.4em; }

.home-dates-date SUP { font-size: 50%; line-height: 0.5em; letter-spacing: 0.1em; }

.home-dates-date .fg-arrow-right {
  color: #370000;
  font-size: 90%;
  font-weight: bold;
}

.home-dates-event {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.home-dates .fg-waves {
  font-size: 24px;
}

.sponsors {
  padding: 4.5em 0 3.5em;
  background: #000038;
  color: #0066FF;
  text-align: center;
}

.sponsors-slider {
  margin-bottom: 3.5em;
}

.sponsor {
  width: 20%;
  min-height: 115px !important;
  line-height: 1em;
  outline: 0;
  position: relative;
}

.sponsor IMG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 69%;
  height: auto;
  max-height: 100%;
  width: auto;
}

.sponsors A:link,
.sponsors A:visited {
  color: #0066FF;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
  letter-spacing: 0.2em;
  margin-right: 1em;
  position: relative;
}

.sponsors A:after {
  font-family: 'Louies2017';
  content: '\e923';
  position: absolute;
  right: -1.8em;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.sponsors A:hover,
.sponsors A:active {
  color: #FFFFFF;
}

#sponsor-form INPUT[type="text"],
#sponsor-form INPUT[type="email"],
#sponsor-form INPUT[type="tel"],
#sponsor-form TEXTAREA {
  margin-bottom: 2em;
}

#sponsor-form #name,
#sponsor-form #email {
  float: left;
  width: 48%;
}

#sponsor-form #organization,
#sponsor-form #phone {
  float: right;
  width: 48%;
}

#sponsor-form .header {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 0.2em;
  padding-bottom: 0.5em;
}

#sponsor-form TEXTAREA {
  margin-top: 2em;
}

.banner {
  padding: 6em 0;
  background: url(../images/banner-background.jpg) top center;
  color: #555555;
  font-weight: 600;
  font-size: 16px;
  line-height: 2em;
  text-align: center;
}

.banner H2 {
  margin: 0 0 0.5em;
  color: #0066FF;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 95px;
  line-height: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.banner H3 {
  margin: 0 0 1.5em;
  color: #000038;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.banner .banner-text {
  width: 72%;
  margin: 0 auto;
}

.banner .hashtag {
  color: #000038;
  margin-top: 3em;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 0.2em;
}

.banner A.button:link,
.banner A.button:visited {
  margin-top: 3.5em;
  -webkit-box-shadow: 0 0 35px 0 rgba(0,102,255,0.45);
  -moz-box-shadow: 0 0 35px 0 rgba(0,102,255,0.45);
  box-shadow: 0 0 35px 0 rgba(0,102,255,0.45);
}

.banner A.button:hover,
.banner A.button:active {
  color: #FFFFFF;
  background: #000038;
}

.banner A.button:hover:after { color: #FFFFFF; }

.banner A.button.hollow:link,
.banner A.button.hollow:visited {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.banner A.button.hollow:hover,
.banner A.button.hollow:active {
  color: #9D1C30;
  border-color: #9D1C30;
  background: transparent;
}

.banner A.button.hollow:hover:after { color: #9D1C30; }

.documents {
  padding: 3.8em 0;
  background: #000038;
  color: #0066FF;
  font-weight: 600;
  font-size: 16px;
  line-height: 1em;
}

.documents H4 {
  display: inline-block;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.2em;
}

.documents H4 .fg {
  font-size: 80%;
  font-weight: bold;
}

.documents A:link,
.documents A:visited {
  color: #FFFFFF;
  text-decoration: underline;
  margin-left: 6.66%;
}

.documents A:hover,
.documents A:active {
  color: #0066FF;
}

.documents A:before {
  display: inline-block;
  font-family: "Louies2017";
  content: "\e926";
  font-size: 90%;
  color: #0066FF;
  margin-right: 0.7em;
}

.slide-section {
  background: #0066FF;
  color: #000038;
  font-weight: 600;
  font-size: 16px;
  line-height: 2em;
  position: relative;
}

#louies-story {
  background: #000038;
  color: #0066FF;
  font-weight: 500;
  font-size: 14px;
}

.slide-section-slider {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 43.6%;
  height: 100%;
}

.slide-section-slider .slick-list, .slide-section-slider .slick-track { height: inherit; }

.slide-section-slider .slick-slide {
  background-position: center center;
  background-size: cover;
}

.slide-section .fg-waves {
  position: absolute;
  top: 1.7em;
  left: 43.6%;
  transform: translateX(-50%);
  color: #FFFFFF;
  font-size: 46px;
}

.slide-section-text {
  float: right;
  width: 50%;
  padding: 4em 0;
}

.slide-section-text H2 {
  margin: 0 0 0.4em;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 1.1em;
  letter-spacing: 0.2em;
}

.giving .slide-section-text H2 { font-size: 92px; line-height: 1em; margin-bottom: 0.2em; }
#louies-story .slide-section-text H2 { font-size: 63px; line-height: 1em; margin-bottom: 0.4em; }

.slide-section-text H3 {
  margin: 0 0 0.4em;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1em;
  letter-spacing: 0.2em;
}

.slide-section-text .small {
  margin-top: 0.5em;
  font-weight: 400;
  font-size: 14px;
  line-height: 2em;
}

.slide-section-text A:link,
.slide-section-text A:visited {
  color: #FFFFFF;
  /*text-decoration: underline;*/
}

.slide-section-text A:hover,
.slide-section-text A:active {
  color: #000038;
}

.slide-section-text A[href^="mailto"]:after {
  display: inline-block;
  font-family: "Louies2017";
  content: "\e923";
  color: #000038;
  padding-left: 0.8em;
  font-size: 90%;
  font-weight: bold;
  position: relative;
  top: 2px;
}

.slide-section-text A.button:link,
.slide-section-text A.button:visited {
  margin-top: 2.2em;
  border-color: #000038;
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25), inset 0 0 10px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25), inset 0 0 10px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.25), inset 0 0 10px 0 rgba(0,0,0,0.25);
}

.slide-section-text A.button:after { color: #000038; }

.slide-section-text A.button:hover,
.slide-section-text A.button:active {
  color: #9D1C30;
  border-color: #9D1C30;
}

.slide-section-text A.swipebox-video:link,
.slide-section-text A.swipebox-video:visited {
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.3em;
  position: relative;
}

.slide-section-text A.swipebox-video:hover,
.slide-section-text A.swipebox-video:active {
  color: #0066FF;
}

.slide-section-text .hashtag {
  margin-top: 4em;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 0.2em;
}

.giving-section {
  padding: 7em 0;
  background: #000038;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.8em;
  position: relative;
}

.giving-section .fg-waves {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  color: #0066FF;
}

.giving-section .site-width { display: flex; }

.giving-section .column {
  width: 30%;
  margin-right: 5%;
  vertical-align: top;
}

.giving-section .column:nth-of-type(3) { margin-right: 0; }

.giving-section .column H3 {
  color: #0066FF;
  margin: 0 0 0.4em;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 1em;
  letter-spacing: 0.2em;
}

.giving-section .column:nth-of-type(2) H3 { color: #00CC33; }
.giving-section .column:nth-of-type(3) H3 { color: #FF3300; }

.giving-section .column H2 {
  margin: 0 0 0.5em;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 34px;
  line-height: 1em;
  letter-spacing: 0.05em;
}

.giving-section .column .fg-boat {
  display: block;
  margin: 0.5em 0;
  font-size: 25px;
  color: #0066FF;
}

.giving-section .column H4 {
  color: #0066FF;
  margin: 0;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.giving-section .column:nth-of-type(2) H4 { color: #00CC33; }
.giving-section .column:nth-of-type(3) H4 { color: #FF3300; }

.giving-section .column A { text-decoration: underline; }

.giving-section A.button:link,
.giving-section A.button:visited {
  margin-top: 1em;
  color: #FFFFFF;
  text-decoration: none;
}

.giving-section A.button:link .fa,
.giving-section A.button:visited .fa {
  color: #0066FF;
  font-size: 80%;
  position: relative;
  top: -2px;
}

.giving-section A.button:hover,
.giving-section A.button:active,
.giving-section A.button:hover:after {
  color: #FF3300;
  border-color: #FF3300;
}

.event-links { margin-top: 4em; }

.event-links A:link,
.event-links A:visited {
  color: #000038;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1em;
  letter-spacing: 0.1em;
  margin: 0 4%;
  white-space: nowrap;
}

.event-links A:hover,
.event-links A:active {
  color: #9D1C30;
}

#dates-and-times {
  padding: 6em 0 2em;
  background: #9D1C30;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}

#dates-and-times .sidebar {
  float: left;
  width: 150px;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.8em;
  letter-spacing: 0.3em;
  position: relative;
}

#dates-and-times .sidebar:after {
  font-family: "Louies2017";
  content: "\e923";
  position: absolute;
  top: 0;
  right: 0;
  color: #370000;
  font-size: 95%;
  font-size: bold;
}

#dates-and-times .sidebar .fg-waves {
  margin-top: 0.6em;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #370000;
}

#dates-and-times .dats {
  float: right;
  width: calc(100% - 190px);
}

#dates-and-times .dat {
  display: inline-block;
  vertical-align: top;
  width: 28.43%;
  margin: 0 6.9% 4em 0;
}

#dates-and-times .dat:nth-of-type(3n+3) { margin-right: 0; }

#dates-and-times .dat H2 {
  margin: 0 0 0.3em;
  font-weight: 900;
  font-size: 22px;
  line-height: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

#dates-and-times .dat H3 {
  margin: 0 0 0.7em;
  color: #330000;
  font-weight: 900;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

#dates-and-times .dat H3 SPAN { display: inline-block; width: 0.4em; }

#dates-and-times .dat H3 SUP { letter-spacing: 0.1em; }

#awards {
  padding: 7em 0 5em;
  background: #0066FF;
  color: #000038;
  font-weight: 500;
  font-size: 14px;
  line-height: 2em;
}

#awards H2 {
  margin: 0 0 0.5em;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 67px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

#awards .fg-waves {
  color: #FFFFFF;
  font-size: 30px;
}

#awards .trophy { position: relative; margin-bottom: 6em; }

#awards .trophy-image {
  display: inline-block;
  vertical-align: middle;
  width: 155px;
  margin-right: 21px;
  font-weight: bold;
  font-size: 69px;
  text-align: center;
}

#awards .maggie .trophy-image,
#awards .louies .trophy-image,
#awards .cutlass .trophy-image { height: 175px; font-size: 175px; }
#awards .debbia .trophy-image { height: 145px; font-size: 145px; }
#awards .spinnaker .trophy-image { height: 162px; font-size: 162px; }
#awards .flag .trophy-image { height: 88px; font-size: 88px; }

#awards .header .trophy-image { width: 0; margin-right: 0; }
#awards .header .trophy-text { width: 100%; }

#awards .trophy-text {
  width: calc(100% - 180px);
  display: inline-block;
  vertical-align: middle;
}

#awards .trophy-text H3 {
  margin: 0 0 0.25em;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

#results {
  padding: 6em 0;
}

#results .results-sidebar {
  float: left;
  width: 360px;
  color: #000038;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.1em;
  letter-spacing: 0.2em;
}

#results .results-sidebar A:link,
#results .results-sidebar A:visited {
  color: #555555;
  text-decoration: underline;
  font-weight: 700;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.05em;
}

#results .results-sidebar A:hover,
#results .results-sidebar A:active {
  color: #000038;
}

#results .results-sidebar .fg {
  display: inline-block;
  margin-top: 30px;
  color: #0066FF;
  font-size: 199px;
}

#results .results {
  float: right;
  width: calc(100% - 420px);
}

.slick-slide { outline: 0; }

.results-slider A.slick-prev,
.results-slider A.slick-next {
  position: absolute;
  z-index: 5;
  top: 13px;
  left: -100px;
  font-size: 14px;
  color: #0066FF;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  width: 2.5em;
  height: 2.5em;
}

.results-slider A.slick-next {
  left: 300px;
}

.results-slider A.slick-prev .fg,
.results-slider A.slick-next .fg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
}

.results-slider {
  width: calc(100% - 100px);
  margin-left: 100px;
  color: #0066FF;
  font-weight: 800;
  line-height: 1.5em;
}

.results-slider H2 {
  margin: 0 0 0.5em;
  color: #000038;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 0.8em;
  letter-spacing: 0.2em;
  text-decoration: underline;
}

.results-slider .arrow {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline-block;
}

.results-slider H3 {
  margin: 0 0 0.2em;
  color: #000038;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.1em;
  letter-spacing: 0.1em;
  text-decoration: underline;
}

.results-slider H3:first-of-type { margin-top: 1.4em; }

.contact-banner {
  padding: 4em 0 8em;
  background: #0066FF;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 2em;
  text-align: center;
  position: relative;
}

.contact-banner A:link,
.contact-banner A:visited {
  color: #000038;
  text-decoration: underline;
}

.contact-banner A:hover,
.contact-banner A:active {
  color: #FFFFFF;
}

.contact-banner H2 {
  margin: 0 0 0.3em;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 95px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.contact-banner .banner-text {
  width: 80%;
  margin: 0 auto;
}

.contact-banner .icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,50%);
  width: 108px;
  height: auto;
}

.contact-form {
  padding: 6em 0;
  background: #000038;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

#contact-form { width: 80%; margin: 0 auto; }

#contact-form INPUT[type="text"],
#contact-form INPUT[type="email"],
#contact-form INPUT[type="tel"],
#contact-form TEXTAREA {
  border-bottom: 1px solid #0066FF;
  border-radius: 0;
  padding: 0;
  background: transparent;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.1em;
  min-height: auto;
  margin-bottom: 3em;
}

#contact-form TEXTAREA {
  margin-top: 3em;
  border: 1px solid #0066FF;
  border-radius: 6px;
  padding: 0.9em 1em;
  height: 12em;
}

#contact-form INPUT[type="checkbox"] + LABEL {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

#contact-form #email {
  float: left;
  width: 48%;
}

#contact-form #phone {
  float: right;
  width: 48%;
}

#contact-form INPUT[type="submit"] {
  margin-top: 5em;
  color: #0066FF;
}

#contact-form INPUT[type="submit"]:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.contact-footer {
  padding: 4em 0;
  background: #9D1C30;
  color: #370000;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4em;
}

.contact-footer A { color: #370000; }

.contact-footer H3 {
  margin: 0 0 0.8em;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.15em;
}

.contact-footer .contact-address,
.contact-footer .committee {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin: 0 4.5%;
}

.contact-footer .contact-address DIV {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
}

.contact-footer .committee .sidebar {
  display: inline-block;
  vertical-align: top;
  width: 145px;
}

.contact-footer .committee .sidebar H3:after {
  font-family: "Louies2017";
  content: "\e923";
  font-weight: bold;
  font-size: 90%;
  color: #370000;
  position: relative;
  top: 1px;
  margin-left: 0.5em;
}

.contact-footer .committee .sidebar .fg-waves {
  font-size: 24px;
  display: inline-block;
  margin-top: 0.2em;
}

.contact-footer .committee .committee-names {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 160px);
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  white-space: nowrap;
}

.first-post {
  background: #0066FF;
  color: #000038;
  font-weight: 600;
  font-size: 16px;
  line-height: 2em;
  position: relative;
}

.first-post-image {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 43.6%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.first-post .fg-waves {
  position: absolute;
  top: 1.7em;
  left: 43.6%;
  transform: translateX(-50%);
  color: #FFFFFF;
  font-size: 46px;
}

.first-post-text {
  float: right;
  width: 50%;
  padding: 5em 0;
}

.first-post-text H4 {
  margin: 0 0 2em;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 0.2em;
}

.first-post-text H1 {
  margin: 0 0 0.3em;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 1em;
  letter-spacing: 0.05em;
}

.first-post-text H3 {
  margin: 0 0 3.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
}

.first-post-text H3:before {
  font-family: "Louies2017";
  content: "\e977";
  font-size: 17px;
  margin-right: 0.4em;
  position: relative;
  top: 2px;
}

.first-post-text A.button.hollow:link,
.first-post-text A.button.hollow:visited {
  margin-top: 5em;
  border-color: #000038;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25), inset 0 0 10px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25), inset 0 0 10px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.25), inset 0 0 10px 0 rgba(0,0,0,0.25);
}

.first-post-text A.button.hollow:after { color: #000038; }

.first-post-text A.button.hollow:hover,
.first-post-text A.button.hollow:active,
.first-post-text A.button.hollow:hover:after {
  color: #9D1C30;
  border-color: #9D1C30;;
}

.filter {
  padding: 47px 0 37px;
  background: #000038;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-align: center;
}

.filter A:link,
.filter A:visited {
  display: inline-block;
  margin: 0 2.5em;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative;
}

.filter A:hover,
.filter A:active,
.filter A.current {
  color: #0066FF;
}

.filter A:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98%;
  height: 6px;
  border-radius: 3px;
}

.filter A:hover:after,
.filter A:active:after,
.filter A.current:after {
  background: #1C4597;
}

.index-post:link,
.index-post:visited {
  display: inline-block;
  vertical-align: top;
  width: 26.41%;
  margin: 4em 10% 3em 0;
  color: #464646;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.8em;
  box-sizing: border-box;
  padding-bottom: 5em;
  border-bottom: 8px solid #000038;
  position: relative;
}

.index-post:hover:before,
.index-post:active:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 8px);
  background: rgba(157, 28, 48, 0.9);
}

.index-post-hover {
  display: none;
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 42px;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-align: center;
}

.index-post-hover .fg {
  display: block;
  margin-top: 1em;
  font-size: 26px;
}

.index-post:hover .index-post-hover,
.index-post:active .index-post-hover {
  display: block;
}

.index-post:nth-of-type(3n+3) {
  margin-right: 0;
}

.index-post-image {
  padding-top: 69.4%;
  background-position: center center;
  background-size: cover;
  margin-bottom: 1.6em;
}

.index-post H4 {
  margin: 0 0 1em;
  color: #0066FF;
  font-weight: 800;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.index-post H2 {
  margin: 0 0 0.4em;
  color: #000038;
  font-family: 'Rubik', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
}

.index-post H3 {
  margin: 0;
  color: #0066FF;
  font-weight: 800;
  font-size: 13px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 1em;
}

.index-post H3:before {
  font-family: "Louies2017";
  content: "\e977";
  font-weight: normal;
  font-size: 17px;
  margin-right: 0.4em;
  position: relative;
  top: 2px;
}

.loadmore {
  padding: 4em 0 7em;
  text-align: center;
}

A#loadmore:link,
A#loadmore:visited {
  display: inline-block;
  border-radius: 3px;
  padding: 1.1em 1.3em 1em 1.5em;
  background: #0066FF;
  color: #FFFFFF;
  font-family: 'Rubik', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

A#loadmore:hover,
A#loadmore:active {
  background: #9D1C30;
}

.single-post { position: relative; }

.single-post-banner {
  height: 600px;
  background-position: center center;
  background-size: cover;
}

.single-post-content {
  padding: 60px 0;
  background: #FFFFFF;
  transform: translateY(-100px);
  margin-bottom: -100px;
  border-radius: 3px;
}

.single-post-shadow {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #FFFFFF;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
}

.single-post-title {
  margin: 0 auto 0.4em;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 1.2em;
  text-align: center;
}

.single-post-meta {
  margin: 0 0 7em;
  color: #0066FF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.single-post P {
  width: 1060px;
  margin: 1.5em auto;
  color: #555555;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8em;
}

.single-post UL {
  width: 1060px;
  margin: 0 auto;
}

.single-post BLOCKQUOTE P {
  margin: 3em auto;
  color: #000038;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.8em;
}

.single-post BLOCKQUOTE P:after {
  font-family: "Louies2017";
  content: "\e971";
  color: #0066FF;
  font-size: 31px;
  line-height: 1em;
  display: block;
  margin-top: 0.75em;
}

.single-post IMG,
.single-post .wp-caption {
  max-width: 100%;
  height: auto;
}

.single-post .wp-caption-text {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.single-post .alignleft {
  float: left;
  margin-right: 2.5em;
}

.single-post .alignright {
  float: right;
  margin-left: 2.5em;
}

.single-post .alignnone {
  margin: 100px 0 50px;
}

.single-post-gallery {
  margin: 100px 0 50px;
}

.single-post-gallery A {
  float: left;
  width: 100%;
  margin-right: 3%;
  background-position: center center;
  background-size: cover;
  margin-bottom: 3em;
  outline: 0;
}

.single-post-gallery A:before {
  content: "";
  display: block;
  padding-top: 63.36%;
}

.single-post-gallery.gallery-columns-2 A { width: 48.50%; }
.single-post-gallery.gallery-columns-3 A { width: 31.33%; }
.single-post-gallery.gallery-columns-4 A { width: 22.75%; }
.single-post-gallery.gallery-columns-5 A { width: 17.60%; }
.single-post-gallery.gallery-columns-6 A { width: 14.16%; }
.single-post-gallery.gallery-columns-7 A { width: 11.71%; }
.single-post-gallery.gallery-columns-8 A { width: 9.875%; }
.single-post-gallery.gallery-columns-9 A { width: 8.444%; }

.single-post-gallery.gallery-columns-1 A,
.single-post-gallery.gallery-columns-2 A:nth-of-type(even),
.single-post-gallery.gallery-columns-3 A:nth-of-type(3n+3),
.single-post-gallery.gallery-columns-4 A:nth-of-type(4n+4),
.single-post-gallery.gallery-columns-5 A:nth-of-type(5n+5),
.single-post-gallery.gallery-columns-6 A:nth-of-type(6n+6),
.single-post-gallery.gallery-columns-7 A:nth-of-type(7n+7),
.single-post-gallery.gallery-columns-8 A:nth-of-type(8n+8),
.single-post-gallery.gallery-columns-9 A:nth-of-type(9n+9) {
  margin-right: 0;
}

.single-post-content .video {
  margin: 100px 0;
}

.single-post-share {
  padding: 4em 0;
}

.single-post-share A:link,
.single-post-share A:visited {
  display: inline-block;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1em;
  padding: 6px 7px;
  border-radius: 4px;
  margin-right: 0.3em;
}

.single-post-share A.facebook { background: #3A579A; padding: 6px 10px; }
.single-post-share A.twitter { background: #46C8F5; padding: 6px 10px; }
.single-post-share A.linkedin { background: #1C7FAF; }
.single-post-share A.pinterest { background: #CD2127; }
.single-post-share A.googleplus { background: #E03E26; }

.single-post-share A:hover,
.single-post-share A:active {
  color: #FFFFFF;
  background: #0066FF;
}

.single-post-share A SPAN {
  font-weight: 400;
  font-size: 10px;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  padding: 0 4px;
}

.single-post-nav {
  background: #000038;
  position: relative;
  padding: 4.8em 0;
}

.single-post-nav NAV H2 {
  display: none;
}

.nav-links:after {
  content: "";
  display: table;
  clear: both;
}

.nav-links A:link,
.nav-links A:visited {
  float: left;
  width: 45%;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.1em;
}

.nav-links A.next:link,
.nav-links A.next:visited {
  float: right;
  text-align: right;
}

.nav-links A:hover,
.nav-links A:active {
  color: #0066FF;
}

.nav-links A.prev:before,
.nav-links A.next:before {
  color: #0066FF;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.2em;
  display: block;
  margin-bottom: 0.5em;
  content: "PREVIOUS:";
}
.nav-links A.next:before { content: "NEXT:"; }

.nav-links A.home-link:before { content: ""; }

.single-post-nav A.index-link:link,
.single-post-nav A.index-link:visited {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 6;
  font-weight: bold;
  font-size: 30px;
  line-height: 1em;
  color: #0066FF;
}

.single-post-nav A.index-link:hover,
.single-post-nav A.index-link:active {
  color: #FFFFFF;
}

.blog-newsletter {
  padding: 4em 0;
  background: #9D1C30;
  color: #2C0001;
  font-weight: 500;
  font-size: 16px;
  line-height: 1em;
  text-align: center;
}

.blog-newsletter H2 {
  margin: 0 0 0.4em;
  color: #FFFFFF;
  font-family: 'Rubik', serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 1em;
  letter-spacing: 0.15em;
}

#blog-newsletter-form {
  margin: 2em auto 0;
  width: 780px;
}

#blog-newsletter-form #blog-newsletter-form-messages {
  margin: 1em 0;
  min-height: 1em;
  line-height: 1em;
  color: #FFFFFF;
}

#blog-newsletter-form #blog-newsletter-email {
  float: left;
  width: calc(100% - 170px);
  background: #70071B;
}

#blog-newsletter-form INPUT[type="submit"] {
  float: right;
  border-color: #70071B;
}

#blog-newsletter-form INPUT[type="submit"]:hover,
#blog-newsletter-form INPUT[type="submit"]:active {
  border-color: #000038;
  color: #000038;
}


@media only screen and (min-width: 1920px) {
  .banner { background-size: cover; }
}

@media only screen and (max-width: 1200px) {
  .site-width,
  .llr-header.home .site-width-small {
    width: 96%;
  }

  .llr-footer:before { font-size: 10.2vw; }

  .slide-section-text H2 { font-size: 65px; }
  .giving .slide-section-text H2 { font-size: 88px; }

  #dates-and-times .dat H3 SPAN { display: block; width: 0; }
}

@media only screen and (max-width: 1180px) {
  .home-dates-date SPAN { display: block; width: 0; }
}

@media only screen and (max-width: 1125px) {
  #dates-and-times .dat { margin-right: 6.5%; }
}

@media only screen and (max-width: 1115px) {
  .home-dates .one-fourth { max-width: 30%; width: 30%; margin-right: 4.5%; }

  .home-dates-date SPAN { display: inline-block; width: 0.4em; }

  .home-dates .one-fourth:first-of-type {
    display: block;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    position: relative;
    padding-bottom: 1em;
  }

  .home-dates .fg-waves {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .home-dates .one-fourth:first-of-type .home-dates-date { margin-bottom: 0; }

  .home-dates-date .fg-arrow-right:before { display: inline-block; transform: rotate(90deg); font-size: 85%; }
}

@media only screen and (max-width: 1055px) {
  .site-width-small { width: 96%; }

  .video-banner .site-width H1 { font-size: 90px; }

  .single-post P, .single-post UL { width: 96%; }
  .single-post BLOCKQUOTE { width: 96%; margin: 0 auto; }
  .single-post BLOCKQUOTE P { width: 100%; }
}

@media only screen and (max-width: 1024px) {
  .llr-header.home .menu { right: 0; }

  .video-banner { padding-top: 0; height: 500px; }

  .video-banner VIDEO { min-width: auto; min-height: auto; width: 100%; }

  .video-banner .site-width H1 { font-size: 81px; }

  .video-banner .site-width .fg-waves { margin: 0.5em 0; }

  .banner H2 { font-size: 85px; }

  .banner .banner-text { width: 82%; }

  .slide-section-text H2 { font-size: 57px; }
  .giving .slide-section-text H2 { font-size: 75px; }

  .contact-footer .contact-address,
  .contact-footer .committee { width: 48%; margin: 0; }
  .contact-footer .contact-address { margin-right: 3.5%; }

  .index-post:link, .index-post:visited { margin-right: 9.9%; }
  .index-post:nth-of-type(3n+3) { margin-right: 0; }
}

@media only screen and (max-width: 905px) {
  .video-banner VIDEO { width: auto; height: 100%; }

  .home-dates-date SPAN { display: block; width: 0; }
}

@media only screen and (max-width: 845px) {
  .home-dates .one-fourth { margin-right: 4.4%; }

  #dates-and-times .dat,
  #dates-and-times .dat:nth-of-type(3n+3) { width: 45%; margin-right: 9%; }
  #dates-and-times .dat:nth-of-type(2n+2) { margin-right: 0; }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .llr-header .site-width-small,
  .llr-header.home .site-width-small {
    width: 100%;
    box-sizing: border-box;
    padding: 0 2%;
  }

  .llr-header .menu {
    display: none;
    top: 0;
    transform: none;
    width: 100%;
    background: rgba(0, 102, 255, 0.9);
    padding: 100px 0;
  }

  #menu-toggle {
    display: inline-block;
    cursor: pointer;
    color: #000038;
    font-size: 49px;
    height: auto;
    line-height: 1em;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 101;
    margin: 0;
    padding: 0;
  }

  #menu-toggle:before { content: ""; }

  #menu-toggle:after {
    font-family: 'Louies2017';
    content: "\e911";
  }

  #show-menu:checked + #menu-toggle:after {
    content: "\e912";
  }

  #show-menu:checked + #menu-toggle + .menu {
    display: block;
  }

  .menu UL LI {
    display: block;
    padding-left: 0;
  }

  .menu UL LI A:link, .menu UL LI A:visited {
    color: #FFFFFF;
    font-size: 7vw;
    line-height: 0.8em;
    padding: 0.5em 0;
    display: block;
    width: 100%;
    text-align: center;
  }

  .menu UL LI A:after { height: 0; }

  .menu UL LI A:hover, .menu UL LI A:active { color: #000038; }

  .video-banner .site-width H1 { font-size: 70px; }
  
  .modal A.close-modal { top: 0.8em; right: 2.8em; }
  #newsletter, #sponsor { padding: 50px; }

  .documents H4 { display: block; margin-bottom: 1.6em; }
  .documents H4 .fa { transform: rotate(90deg); top: 0; }
  .documents A:first-of-type { margin-left: 0; }
  
  .slide-section .fg-waves { top: 1.5em; }
  .slide-section-text H2 { font-size: 42px; }
  .giving .slide-section-text H2 { font-size: 56px; }
  
  .giving-section { padding: 4em 0; }
  .giving-section .site-width { display: block; }
  .giving-section .column { width: 100%; margin: 3em 0; }
  .giving-section A.button:link, .giving-section A.button:visited { margin-top: 0; }

  #results .results-sidebar { width: 30%; font-size: 38px; }
  #results .results { width: 66%; }

  #contact-form { width: 100%; }

  .contact-footer .contact-address,
  .contact-footer .committee { width: 100%; margin: 0; }
  .contact-footer .contact-address { margin-bottom: 2em; }

  .contact-footer .committee .committee-names {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .index-post:link, .index-post:visited,
  .index-post:nth-of-type(3n+3) { width: 44%; margin-right: 10%; }
  .index-post:nth-of-type(2n+2) { margin-right: 0; }

  .single-post-banner { height: 500px; }

  #blog-newsletter-form { width: 100%; }
}

@media only screen and (max-width: 670px) {
  .footer-text { width: 96%; }

  .home-dates .one-fourth { display: block; max-width: 100%; margin: 0 0 2em 0; width: 100%; }
  .home-dates .one-fourth:last-of-type { margin-bottom: 0; }

  .home-dates-date SPAN { display: inline-block; width: 0.4em; }
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .llr-footer .site-width-small { text-align: center; }

  .llr-footer .social { position: static; transform: none; margin-top: 2em; }

  .video-banner { height: 450px; }

  .video-banner .site-width { font-size: 20px; }

  .video-banner .site-width H1 { font-size: 55px; }

  .documents A:link, .documents A:visited { margin: 1.5em 0 0 0; display: block; }
  .documents A:first-of-type { margin-top: 0; }
  
  .slide-section { padding-bottom: 475px; }
  .slide-section-slider { top: auto; bottom: 0; width: 100%; height: 475px; }

  .slide-section .fg-waves { top: auto; left: 50%; bottom: 475px; transform: translate(-50%, 50%); }

  .slide-section-text { float: none; width: 100%; }
  .slide-section-text H2 { font-size: 45px; }
  .giving .slide-section-text H2 { font-size: 65px; }

  #dates-and-times .dat,
  #dates-and-times .dat:nth-of-type(3n+3),
  #dates-and-times .dat:nth-of-type(2n+2) { width: 100%; margin-right: 0; }
  #dates-and-times .dat H3 SPAN { display: inline-block; width: 0.4em; }

  #results .results-sidebar { float: none; width: 100%; font-size: 60px; margin-bottom: 0.5em; position: relative; }
  #results .results { float: none; width: 100%; }
  #results .results-sidebar .fg { font-size: 180px; margin-top: 0; position: absolute; top: 0; right: 0; z-index: -1; }

  .results-slider A.slick-next { left: auto; right: 0; }
  
  .contact-banner H2 { font-size: 16vw; }
  .contact-banner .banner-text { width: 100%; }

  .contact-footer .committee .committee-names {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .first-post-image { width: 100%; height: 400px; }
  .first-post .fg-waves { top: 400px; left: 50%; transform: translate(-50%,-50%); }
  .first-post-text { width: 100%; padding: 450px 0 50px; }

  .filter A:link, .filter A:visited { margin: 0.5em 2.5em; }

  .single-post-banner { height: 400px; }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .menu UL LI A:link, .menu UL LI A:visited { font-size: 8vw; }

  .footer-hashtags .spacer { display: block; height: 1em; }

  .footer-menu LI,
  .footer-menu LI:first-of-type { padding: 0 0.75em; }

  .video-banner .site-width H1 { font-size: 36px; }

  .video-header-buttons A.button:link,
  .video-header-buttons A.button:visited { margin: 2em 0 0 0; }

  .modal {
    top: 0;
    left: 0;
    transform: none;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
  }
  
  #newsletter, #sponsor { padding: 50px 25px; }

  #newsletter H2, #sponsor H2 { font-size: 40px; }

  #newsletter #newsletter-email { width: 100%; }
  #newsletter INPUT[type="submit"] { float: none; margin-top: 2em; position: relative; left: 50%; transform: translateX(-50%); }

  #sponsor-form #name,
  #sponsor-form #email,
  #sponsor-form #organization,
  #sponsor-form #phone {
    float: none;
    width: 100%;
  }

  .banner H2 { font-size: 20vw; }

  .banner-giving H2 { font-size: 16.5vw; }

  .slide-section-text H2 { font-size: 10.7vw; }
  .giving .slide-section-text H2 { font-size: 14vw; }
  #louies-story .slide-section-text H2 { font-size: 17vw; }

  .banner-event H2 { font-size: 16vw; }

  #dates-and-times .sidebar,
  #dates-and-times .dats { float: none; width: 100%; }
  #dates-and-times .sidebar { margin-bottom: 2em; }
  #dates-and-times .sidebar:after { display: inline-block; transform: rotate(90deg); top: 0.2em; }
  
  #awards H2 { font-size: 16.75vw; }
  #awards .trophy-image { width: 100%; margin: 0 0 15px; text-align: left; }
  #awards .trophy-text { width: 100%; }
  
  #results .results-sidebar { font-size: 15vw; }
  #results .results-sidebar .fg { font-size: 120px; top: 50%; transform: translateY(-50%); }

  .results-slider { width: 100%; margin: 0; }

  .results-slider A.slick-prev, .results-slider A.slick-next { top: 0; left: 0; }
  .results-slider A.slick-next { left: auto; right: 0; }

  .results-slider H2 { margin-top: 0.75em; }

  #contact-form #email, #contact-form #phone { float: none; width: 100%; }

  .contact-footer .contact-address DIV { width: 100%; }
  .contact-footer .contact-address DIV:first-of-type { margin-bottom: 2em; }

  .contact-footer .committee .sidebar { width: 100%; position: relative; }
  .contact-footer .committee .sidebar H3:after { display: inline-block; transform: rotate(90deg); }
  .contact-footer .committee .sidebar .fg-waves { position: absolute; top: 0; right: 0; font-size: 18px; }

  .contact-footer .committee .committee-names { width: 100%; }

  .first-post-text H1 { font-size: 16vw; }

  .index-post:link, .index-post:visited,
  .index-post:nth-of-type(3n+3),
  .index-post:nth-of-type(2n+2) { width: 100%; margin-right: 0; }

  .single-post-banner { height: 300px; }

  .single-post-title { font-size: 13vw; }

  .single-post-share A:link, .single-post-share A:visited { margin-bottom: 0.5em; }
  
  .blog-newsletter H2 { font-size: 14vw; }
  #blog-newsletter-form #blog-newsletter-email { float: none; width: 100%; }
  #blog-newsletter-form INPUT[type="submit"] { float: none; margin-top: 2em; }
}